---
const { frontmatter, url } = Astro.props.project;
---

<div
    class="relative bg-[#05091e]/60 text-white border-[2px] border-white rounded-lg w-full xl:w-[75%] mx-auto"
>
    <div
        class="relative bg-cover pt-[37.5%] titleCard rounded-md"
        style={`background-image:url(${frontmatter.img})`}
    >
        <div class="float-right p-2 mx-1">{frontmatter.date}</div>
        <h1
            class="absolute top-0 w-full h-full flex items-center justify-center m-0 text-white flex-col font-black text-2xl md:text-6xl uppercase tracking-[0.0625em] [text-shadow:_0px_0px_25px_#000] text-center"
        >
            {frontmatter.title}
        </h1>
    </div>
    <div class="p-6">
        <p class="text-lg leading-[1.4] mt-0 mb-[1em]">
            {frontmatter.description}
        </p>
        <div class="text-sm uppercase">
            Tagged:
            {
                frontmatter.tags.map((t) => (
                    <div
                        class="inline-block uppercase ml-[0.5em] tag"
                        data-tag={t}
                    >
                        {t}
                    </div>
                ))
            }
        </div>

        <a
            class="absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center text-white text-2xl font-bold bg-black/25 opacity-0 uppercase no-underline transition-opacity ease-linear hover:opacity-100 focus:opacity-100 hover:translate-y-0 focus:translate-y-0"
            href={url}
        >
            <span
                class="py-[0.0375em] px-[1em] border-4 border-black/0 hover:border-white/60 hover:translate-y-0 focus:translate-y-0 translate-y-0 transition-all duration-300 ease-linear"
                >View</span
            >
        </a>
    </div>
</div>

<style>
    .titleCard {
        background-position: 50% 100%;
    }

    .tag:nth-of-type(1n) {
        color: var(--c-green);
    }
    .tag:nth-of-type(2n) {
        color: var(--c-orange);
    }
    .tag:nth-of-type(3n) {
        color: var(--c-blue);
    }
    .tag:nth-of-type(4n) {
        color: var(--c-pink);
    }
    .tag:nth-of-type(5n) {
        color: var(--c-yellow);
    }
</style>
